<a href="https://colab.research.google.com/github/ZHAOBenyun/Learning-Numpy_Pandas/blob/main/pd_nan.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

In [2]:
dates = pd.date_range('20210101',periods=6)
df = pd.DataFrame(np.arange(24).reshape((6,4)),index=dates,columns=['A','B','C','D'])

In [3]:
df.iloc[0,1] = np.nan
df.iloc[1,2] = np.nan

In [8]:
print(df.dropna(axis=0,how='any'))  # how={'any'} If the row has one none, this row will be droped

             A     B     C   D
2021-01-03   8   9.0  10.0  11
2021-01-04  12  13.0  14.0  15
2021-01-05  16  17.0  18.0  19
2021-01-06  20  21.0  22.0  23

In [9]:
print(df.dropna(axis=0,how='all'))  # how={'all'} If the whole row is none, this row will be droped

             A     B     C   D
2021-01-01   0   NaN   2.0   3
2021-01-02   4   5.0   NaN   7
2021-01-03   8   9.0  10.0  11
2021-01-04  12  13.0  14.0  15
2021-01-05  16  17.0  18.0  19
2021-01-06  20  21.0  22.0  23

In [10]:
print(df.fillna(value=1000))  # fill the none with value

             A       B       C   D
2021-01-01   0  1000.0     2.0   3
2021-01-02   4     5.0  1000.0   7
2021-01-03   8     9.0    10.0  11
2021-01-04  12    13.0    14.0  15
2021-01-05  16    17.0    18.0  19
2021-01-06  20    21.0    22.0  23

In [11]:
print(df.isnull())  # determine if there is any none in the dictionary

                A      B      C      D
2021-01-01  False   True  False  False
2021-01-02  False  False   True  False
2021-01-03  False  False  False  False
2021-01-04  False  False  False  False
2021-01-05  False  False  False  False
2021-01-06  False  False  False  False

In [12]:
print(np.any(df.isnull()) == True)  # if the dictionary is too big, this can help to determine fast

True