<a href="https://colab.research.google.com/github/ZHAOBenyun/Learning-Numpy_Pandas/blob/main/pd_operation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd  # pandas = dictionary
import numpy as np  # numpy = list

In [4]:
s = pd.Series([1,3,5,6,np.nan,44,9])
print(s)

0     1.0
1     3.0
2     5.0
3     6.0
4     NaN
5    44.0
6     9.0
dtype: float64

In [5]:
dates = pd.date_range('20210920',periods=10)
print(dates)

DatetimeIndex(['2021-09-20', '2021-09-21', '2021-09-22', '2021-09-23',
               '2021-09-24', '2021-09-25', '2021-09-26', '2021-09-27',
               '2021-09-28', '2021-09-29'],
              dtype='datetime64[ns]', freq='D')

In [6]:
df = pd.DataFrame(np.random.randn(10,4),index=dates,columns=['a','b','c','d'])
print(df)

                   a         b         c         d
2021-09-20  0.033120  0.626952 -0.038117  0.353501
2021-09-21 -0.187477  0.567113 -0.461927  0.003528
2021-09-22  0.375317 -1.260700 -0.063682  1.645962
2021-09-23 -0.528948 -0.277129  0.815117 -0.294110
2021-09-24 -0.298921  0.059575  0.624286  1.290562
2021-09-25  0.490400  0.004911 -0.700023  0.126150
2021-09-26 -0.945776 -0.466812 -0.041039  2.762778
2021-09-27  1.221643  1.534911 -0.344511  0.434051
2021-09-28 -0.718280  0.336464  0.770560 -0.444745
2021-09-29 -1.046496 -0.220831  0.193143 -1.167556

In [7]:
df1 = pd.DataFrame(np.arange(12).reshape((3,4)))
print(df1)

   0  1   2   3
0  0  1   2   3
1  4  5   6   7
2  8  9  10  11

In [8]:
df2 = pd.DataFrame({'A':1., 
          'B':pd.Timestamp('20210102'), 
          'C':pd.Series(1, index=list(range(4)), dtype='float32'),
          'D':np.array([3]*4), 
          'E':pd.Categorical(['test','train','test','train']),
          'F':'foo'})
df2

     A          B    C  D      E    F
0  1.0 2021-01-02  1.0  3   test  foo
1  1.0 2021-01-02  1.0  3  train  foo
2  1.0 2021-01-02  1.0  3   test  foo
3  1.0 2021-01-02  1.0  3  train  foo

In [9]:
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int64
E          category
F            object
dtype: object

In [10]:
df2.index

Int64Index([0, 1, 2, 3], dtype='int64')

In [11]:
df2.columns

Index(['A', 'B', 'C', 'D', 'E', 'F'], dtype='object')

In [12]:
df2.values

array([[1.0, Timestamp('2021-01-02 00:00:00'), 1.0, 3, 'test', 'foo'],
       [1.0, Timestamp('2021-01-02 00:00:00'), 1.0, 3, 'train', 'foo'],
       [1.0, Timestamp('2021-01-02 00:00:00'), 1.0, 3, 'test', 'foo'],
       [1.0, Timestamp('2021-01-02 00:00:00'), 1.0, 3, 'train', 'foo']],
      dtype=object)

In [13]:
df2.describe()

         A    C    D
count  4.0  4.0  4.0
mean   1.0  1.0  3.0
std    0.0  0.0  0.0
min    1.0  1.0  3.0
25%    1.0  1.0  3.0
50%    1.0  1.0  3.0
75%    1.0  1.0  3.0
max    1.0  1.0  3.0

In [14]:
df2.sort_index(axis=1,ascending=False) # sort backward

     F      E  D    C          B    A
0  foo   test  3  1.0 2021-01-02  1.0
1  foo  train  3  1.0 2021-01-02  1.0
2  foo   test  3  1.0 2021-01-02  1.0
3  foo  train  3  1.0 2021-01-02  1.0

In [15]:
df2.sort_index(axis=0,ascending=False)

     A          B    C  D      E    F
3  1.0 2021-01-02  1.0  3  train  foo
2  1.0 2021-01-02  1.0  3   test  foo
1  1.0 2021-01-02  1.0  3  train  foo
0  1.0 2021-01-02  1.0  3   test  foo

In [16]:
df2.sort_values(by='E') # sort by one value

     A          B    C  D      E    F
0  1.0 2021-01-02  1.0  3   test  foo
2  1.0 2021-01-02  1.0  3   test  foo
1  1.0 2021-01-02  1.0  3  train  foo
3  1.0 2021-01-02  1.0  3  train  foo

In [65]:
dates = pd.date_range('20210101',periods=6)
df3 = pd.DataFrame(np.arange(24).reshape((6,4)),index=dates,columns=['A','B','C','D'])

In [66]:
print(df3)

             A   B   C   D
2021-01-01   0   1   2   3
2021-01-02   4   5   6   7
2021-01-03   8   9  10  11
2021-01-04  12  13  14  15
2021-01-05  16  17  18  19
2021-01-06  20  21  22  23

In [67]:
print(df3['A'])
#print(df3.A)

2021-01-01     0
2021-01-02     4
2021-01-03     8
2021-01-04    12
2021-01-05    16
2021-01-06    20
Freq: D, Name: A, dtype: int64

In [68]:
print(df3[0:3])
#print(df3['20210101':'20210103'])

            A  B   C   D
2021-01-01  0  1   2   3
2021-01-02  4  5   6   7
2021-01-03  8  9  10  11

In [69]:
print(df3.loc['20210102'])  # select by label: loc

A    4
B    5
C    6
D    7
Name: 2021-01-02 00:00:00, dtype: int64

In [70]:
print(df3.loc[:,['A','B']])  # select by label: loc

             A   B
2021-01-01   0   1
2021-01-02   4   5
2021-01-03   8   9
2021-01-04  12  13
2021-01-05  16  17
2021-01-06  20  21

In [71]:
print(df3.iloc[3])  # select by position: iloc

A    12
B    13
C    14
D    15
Name: 2021-01-04 00:00:00, dtype: int64

In [72]:
print(df3.iloc[0:1,1:3])  # select by position: iloc
              # the first row, and the second and third column

            B  C
2021-01-01  1  2

In [73]:
print(df3)
print(df3[df3.A>8])  # select by Boolean index

             A   B   C   D
2021-01-01   0   1   2   3
2021-01-02   4   5   6   7
2021-01-03   8   9  10  11
2021-01-04  12  13  14  15
2021-01-05  16  17  18  19
2021-01-06  20  21  22  23
             A   B   C   D
2021-01-04  12  13  14  15
2021-01-05  16  17  18  19
2021-01-06  20  21  22  23

In [74]:
df3.iloc[2,2] = 1234
print(df3)

             A   B     C   D
2021-01-01   0   1     2   3
2021-01-02   4   5     6   7
2021-01-03   8   9  1234  11
2021-01-04  12  13    14  15
2021-01-05  16  17    18  19
2021-01-06  20  21    22  23

In [75]:
df3.loc['20210102','B'] = 3333
print(df3)

             A     B     C   D
2021-01-01   0     1     2   3
2021-01-02   4  3333     6   7
2021-01-03   8     9  1234  11
2021-01-04  12    13    14  15
2021-01-05  16    17    18  19
2021-01-06  20    21    22  23

In [76]:
df3.B[df3.A>4] = 0  # Change the position in column B corresponding to A value greater than 4 in column A to 0
print(df3)

             A     B     C   D
2021-01-01   0     1     2   3
2021-01-02   4  3333     6   7
2021-01-03   8     0  1234  11
2021-01-04  12     0    14  15
2021-01-05  16     0    18  19
2021-01-06  20     0    22  23

In [77]:
df3['F'] = np.nan
print(df3)

             A     B     C   D   F
2021-01-01   0     1     2   3 NaN
2021-01-02   4  3333     6   7 NaN
2021-01-03   8     0  1234  11 NaN
2021-01-04  12     0    14  15 NaN
2021-01-05  16     0    18  19 NaN
2021-01-06  20     0    22  23 NaN

In [79]:
df3['E'] = pd.Series([1,2,3,4,5,6], index = pd.date_range('20210101',periods=6))
print(df3)

             A     B     C   D   F  E
2021-01-01   0     1     2   3 NaN  1
2021-01-02   4  3333     6   7 NaN  2
2021-01-03   8     0  1234  11 NaN  3
2021-01-04  12     0    14  15 NaN  4
2021-01-05  16     0    18  19 NaN  5
2021-01-06  20     0    22  23 NaN  6